

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;

    display: flex;

    justify-content: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #4facfe, #00f2fe);

    padding: 30px;
}

/* =========================
   CONTENEDOR
========================= */

.contenedor{
    width: 95%;
    max-width: 1200px;

    background: white;
    border: 3px solid red; border-radius: 20px
    
    padding:30px;

    text-align: center;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* TITULOS */

h1{
    margin-bottom: 20px;
    color: #1e3a8a;
}

h2{
    margin: 20px 0 10px;
    color: #2563eb;
}

/* =========================
   TABLA
========================= */

.tabla{
    width: 100%;
    background: white;
}

/* ENCABEZADO */

.encabezado{
    background: #2563eb;
   
    color: white;


}

/* FILAS */

.fila1{
    background: rgb(247, 247, 247);
}

.fila2{
    background: #f3f7ff;
}

/* TEXTO */

.tabla th,
.tabla td{


    text-align: center;
    padding: 10px;
    font-size: 14px;
    border: 3px solid rgb(85, 28, 241); border-radius: 20px
}
.img-box{
    width: 120px;
    height: 120px;

    border: 2px solid #2563eb;
    border-radius: 12px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f3f7ff;
}

/* imagen dentro del recuadro */
.img-box{
    width: 250px;
    height: 250px;

    border: 2px solid #2563eb;
    border-radius: 12px;

    overflow: hidden;

    display: flex;
}
.img-box img{
    width: 200%;
    height: 200%;

    object-fit: cover; /* 👈 clave para llenar el recuadro */

    display: block;
}
.imgen-superpuesta{

    width: 100px;
    height: 100px;
    margin: 40px auto;
    border: 4px solid #2563eb;
    border-radius: 50%;
    background-color: #f3f7ff;
    background-image: 
        url('spider-1539583_1280.jpg'),
        url(image.png),
        url(bosque-cerrado_00000000_32cafe88_230530102928_1200x630.jpg);
    background-repeat: 
    
    no-repeat,
    no-repeat,
    no-repeat;
    background-size: 
    110% 100%, 
    110% 100%, cover;

        background-position: 
        center, 
        center, 
        center; 

    box-shadow:
    0px 10px 25px rgba(0, 0, 0, 0.2);
}