*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:flex-start;

    font-family:Arial, sans-serif;

    background:linear-gradient(
        135deg,
        #4facfe,
        #00f2fe
    );

    padding:30px;
}

/* CONTENEDOR */

.contenedor{
    width:95%;
    max-width:1200px;

    background:white;

    border-radius:25px;

    padding:30px;

    text-align:center;

    box-shadow:
        0 10px 30px rgba(0,0,0,.2);
}

/* TITULOS */

h1{
    margin-bottom:20px;
    color:#1e3a8a;
}

h2{
    margin:40px 0 20px;
    color:#2563eb;
}

/* TABLAS */

.tabla{
    width:100%;
    border-collapse:collapse;
    overflow:hidden;

    margin-bottom:30px;

    border-radius:20px;
}

.encabezado{
    background:#2563eb;
    color:white;
}

.tabla th,
.tabla td{
    padding:14px;
    border:2px solid #4f46e5;
}

.fila1{
    background:#f8fafc;
}

.fila2{
    background:#eef4ff;
}

/* GALERIA */

.galeria{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

/* CARD */

.card-img{
    width:280px;

    background:white;

    border-radius:20px;

    padding:15px;

    box-shadow:
        0 5px 15px rgba(0,0,0,.2);
}

.card-img h3{
    margin-bottom:15px;
    color:#2563eb;
}

/* IMAGENES */

.img{
    width:100%;
    height:220px;

    border-radius:15px;

    border:4px solid #2563eb;

    background-position:center;
    background-repeat:no-repeat;
}

/* ZOOM */

.zoom{
    background-image:url('spider-1539583_1280.jpg');
    background-size:180%;
}

/* ANCHA */

.ancha{
    background-image:url('bosque-cerrado_00000000_32cafe88_230530102928_1200x630.jpg');
    background-size:250% 100%;
    inset: black 0px 10px 100px;
}

/* COVER */

.cover{
    background-image:url('image.png');
    background-size:cover;
    box-shadow: black 0px 10px 50px;
}

/* CONIC */

.sola{
    background:
        conic-gradient(
            blue,
            white,
            red,
            blue
        );
}

/* SUNSET */

.sunset{
    background:

    radial-gradient(
        circle at center,
        #ffe066 10%,
        #ff8c42 30%,
        transparent 50%
    ),

    linear-gradient(
        to bottom,
        #f7d25c,
        #ff8c42,
        #8b2d5a,
        #2c1b47
    );
}

/* FONDO */

.nose{
    background:
        linear-gradient(
            -10deg,
            rgba(255,255,255,.6) 20%,
            transparent 20%
        ),

        url('./image.png');

    background-size:cover;
}

/* OCTAGONO */

/* =========================
   OCTAGONO MELO 🔥
========================= */

.octagon{

    position:relative;

    width:220px;
    height:220px;

    margin:auto;

    overflow:hidden;

    clip-path:polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
    );

    box-shadow:
        0 10px 30px rgba(0,0,0,.35);
}

/* IMAGEN */

.octagon::before{

    content:"";

    position:absolute;
    inset:0;

    background:
        url(9rur41socqn71.jpg)
        center/cover no-repeat;

    /* DESVANECIDO HACIA LOS BORDES */

    mask-image:radial-gradient(
        circle,

        rgba(0,0,0,1) 20%,
        rgba(0,0,0,.9) 40%,
        rgba(0,0,0,.55) 65%,

        transparent 100%
    );

    -webkit-mask-image:radial-gradient(
        circle,

        rgba(0,0,0,1) 20%,
        rgba(0,0,0,.9) 40%,
        rgba(0,0,0,.55) 65%,

        transparent 100%
    );

    filter:
        brightness(.95)
        contrast(1.1);
}

/* BORDE RGB */

.octagon::after{

    content:"";

    position:absolute;
    inset:-3px;

    z-index:-1;

    background:linear-gradient(
        45deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        violet,
        red
    );

    background-size:400%;

    animation:rgb 8s linear infinite;

    filter:blur(12px);
}

/* HERO VALORANT */

.hero-melo{

    position:relative;
    overflow:hidden;

    padding:90px 40px;

    border-radius:25px;

    margin-bottom:40px;

    color:white;

    text-shadow:
        2px 2px 10px rgba(0,0,0,.8);

    background:
        linear-gradient(
            135deg,
            rgba(255,70,85,.45),
            rgba(15,25,35,.8)
        );
}

.hero-melo::before{

    content:"";

    position:absolute;
    inset:0;

    background:
        url(maxresdefault.jpg)
        center/cover no-repeat;

    filter:
        brightness(.6)
        saturate(1.2);

    z-index:0;

    mask-image:radial-gradient(
        circle,
        rgba(0,0,0,1) 30%,
        rgba(0,0,0,.7) 60%,
        transparent 100%
    );

    -webkit-mask-image:radial-gradient(
        circle,
        rgba(0,0,0,1) 30%,
        rgba(0,0,0,.7) 60%,
        transparent 100%
    );
    ;
}

.hero-melo *{
    position:relative;
    z-index:1;
}

.hero-melo h1{
    font-size:70px;
    color:#ff4655;
    letter-spacing:4px;
}

.hero-melo p{
    font-size:22px;
    margin-top:10px;
}

/* BOTON RGB */

.btn-melo{

    position:relative;

    padding:18px 45px;

    border:none;
    border-radius:18px;

    font-size:20px;
    font-weight:bold;

    color:white;

    cursor:pointer;

    background:#111827;

    overflow:hidden;

    z-index:1;

    transition:.3s;
    transform:perspective(500px) rotateX(10deg);
}

.btn-melo::before{

    content:"";

    position:absolute;

    inset:-5px;

    z-index:-1;

    border-radius:20px;

    background:linear-gradient(
        45deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        violet,
        red
    );

    background-size:400%;

    filter:blur(15px);

    animation:rgb 8s linear infinite;
    transform:perspective(500px) rotateX(50deg);
}

.btn-melo:hover{
    transform:scale(1.08);
}

@keyframes rgb{

    0%{
        background-position:0 0;
    }

    100%{
        background-position:400% 0;
    }
}
.hero-melo h1{
    font-size:70px;
    color:#ff4655;
    letter-spacing:4px;

    display:inline-block;

    transform:perspective(500px) rotateX(50deg);

    text-transform:uppercase;
}

.contenedor-logo{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* TRIÁNGULO */

.triangulo{
    width:250px;
    height:250px;

    background-image:url('9010.jpg');
    
    background-position:center ;
    background-size:250px;
    background-repeat:no-repeat;
    background-color:white;

    

    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    

    z-index:2;
}

/* CÍRCULO */

.circulo{
    background-image: url(mundo.webp);
    width:350px;
    height:350px;
    transform:perspective(500px) rotateX(75deg);

    border-radius:50%;
  
    /* Lo sube para pegarlo al triángulo */
    margin-top:-170px;
    margin-left:20px;

    z-index:1;
}
 h1 {
  text-shadow: 1px 1px red, -1px -1px blue;
}

.btn-mele{

    position:relative;

    padding:18px 45px;

    border:none;
    border-radius:18px;

    font-size:20px;
    font-weight:bold;

    color:white;

    cursor:pointer;

    background:#111827;

    overflow:hidden;

    z-index:1;

    transition:.3s;
    transform:perspective(500px) rotateX(10deg);
}

.btn-mele::before{

    content:"";

    position:absolute;

    inset:-5px;

    z-index:-1;

    border-radius:20px;

    background:linear-gradient(
        45deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        violet,
        red
    );

    background-size:400%;

    filter:blur(15px);

    animation:rgb 8s linear infinite;
    transform:perspective(500px) rotateX(50deg);
}

.btn-mele:hover{
    transform:scale(1.08);
}

@keyframes rgb{

    0%{
        background-position:0 0;
    }

    100%{
        background-position:400% 0;
    }
}
.hero-mele h1{
    font-size:70px;
    color:#ff4655;
    letter-spacing:4px;

    display:inline-block;

    transform:perspective(500px) rotateX(50deg);

    text-transform:uppercase;
}




